
body{
    background-color: #0d0149;
}

#CarTitle{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
    font-size: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 400px; 
    margin-top: 200px;
    margin-right: 400px;
}
  
.rectangle-container {
    display: flex;
    align-items: center;
}

.name {
    width: 190px; 
    color: #fff;
}

.rounded-rectangle {
    width: 175px;
    height: 50px;
    background-color: #343cff;
    border-radius: 30px;
    margin-left: 20px; 
}


#resultsButton{
  
  align-items: center;
  background-color: #6a08e9;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

#resultsButton:hover,
#resultsButton:focus { 
  background-color: #5a0ab4;
  color: #ffffff;
}

#resultsButton:active {
  background: #e2e1e2;
  color: rgb(255, 255, 255, .7);
}

#resultsButton:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
    

#resultsContainer{
  display: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: larger;
  color: aliceblue;
  
  vertical-align: top; 
  margin-top: -299px; 
  margin-left: 1000px; 
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 5px;
  
  /*tranisition for resuylts*/
  



}






